{% extends 'base_bootstrap.html' %}

{% block header %}
  <h1>{% block title %}Update File{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="mt-3 row">
    <div class="col-md">
        <label class="">User</label>
        <div class="p-2 border">{{ current_user.id }}</div>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-md">
        <label class="">Config</label>
        <div class="p-2 border">{{ config["USER"][current_user.id].split("/")[-1] }}</div>
    </div>
</div>
<form method="POST" enctype="multipart/form-data" action="#" class="">
    {{ form.csrf_token }}
    {% for field in form if field.name != 'csrf_token' %}
        <div class="mt-3 row">
            <div class="col-md form-group">
                {{ field.label }} {{ field(class_="form-control") }}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
{% endblock %}
